name: Check
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup | Development environment
        uses: ./.github/actions/setup

      - name: Run | Build
        run: pnpm run build

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup | Development environment
        uses: ./.github/actions/setup

      - name: Run | Build
        run: pnpm run build

      - name: Run | Lint
        run: pnpm run lint

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup | Development environment
        uses: ./.github/actions/setup

      - name: Run | Build
        run: pnpm run build

      - name: Run | Format
        run: pnpm run format:check

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup | Development environment
        uses: ./.github/actions/setup

      - name: Run | Build
        run: pnpm run build

      - name: Run | Typecheck
        run: pnpm run typecheck
